{% extends "layouts/navbar-admin.html.twig" %}


{% block content %}
            <div class="container bg-light">
                {% block content_centru %}
                {% endblock %}
            </div>
{% endblock %}