{% extends "layouts/home-base.html.twig" %}


{% block navbar_links %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/home">Acasa</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/student/register">Inregistrare</a>
</li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">Autentificare</a>
    </li>
{% endblock %}