{% extends "layouts/home-base.html.twig" %}


{% block navbar_links %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/univ">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/newClass">Adauga clase</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/univ/edit">Editeaza Institutia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/univ/Professori">Profesori</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/univ/students">Administreaza studenti</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/univ/schedule">Orar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/logout">Deconectare</a>
    </li>

{% endblock %}