{% extends "layouts/navbar-not-logged.html.twig" %}

{% block content %}
    <div class="container bg-light">
                {% block content_pagina %}
                {% endblock %}
    </div>
{% endblock %}