{% extends "layouts/navbar-student.html.twig" %}


{% block content %}
    <div class="container">
                {% block content_centru %}
                {% endblock %}
    </div>
{% endblock %}