<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <h1> Student Register </h1>
            <form method="POST">
                <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label">Nume</label>
                    <input type="string" class="form-control" id="nume" aria-describedby="emailHelp">

                    <label for="exampleInputEmail1" class="form-label">Prenume</label>
                    <input type="string" class="form-control" id="prenume" aria-describedby="emailHelp">

                    <label for="exampleInputEmail1" class="form-label">Adresa de email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repeta password</label>
                    <input type="password" class="form-control" id="r_password">
                </div>
                <button type="submit" class="btn btn-primary" href="/student/register">Submit</button>
            </form>
        </div>
        <div class="col">
            <h1> Student Login </h1>
            <form method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary" href="/student/login">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1> Professor Register </h1>
            <form method="POST">
                <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label">Nume</label>
                    <input type="string" class="form-control" id="nume" aria-describedby="emailHelp">

                    <label for="exampleInputEmail1" class="form-label">Prenume</label>
                    <input type="string" class="form-control" id="prenume" aria-describedby="emailHelp">

                    <label for="exampleInputEmail1" class="form-label">Adresa de email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repeta password</label>
                    <input type="password" class="form-control" id="r_password">
                </div>
                <button type="submit" class="btn btn-primary" href="/Professor/register">Submit</button>
            </form>
        </div>
        <div class="col">
            <h1> Professor Login </h1>
            <form method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary" href="/Professor/login">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1> Admin Register </h1>
            <form method="POST">
                <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label">Nume</label>
                    <input type="string" class="form-control" id="nume" aria-describedby="emailHelp">

                    <label for="exampleInputEmail1" class="form-label">Prenume</label>
                    <input type="string" class="form-control" id="prenume" aria-describedby="emailHelp">

                    <label for="exampleInputEmail1" class="form-label">Adresa de email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repeta password</label>
                    <input type="password" class="form-control" id="r_password">
                </div>
                <button type="submit" class="btn btn-primary" href="/admin/register">Submit</button>
            </form>
        </div>
        <div class="col">
            <h1> Admin Login </h1>
            <form method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary" href="/admin/login">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
